MAILER_ID=123456789
SRV_TYPE=340
BARCODE_ID=0
BSG_USERNAME=Alice
BSG_PASSWD=YourBSGPassword
SESSION_SECRET=VerySecretKey
USPS_WEBAPI_USERNAME=USPSWebApiUsername
USPS_NEWAPI_CUSTOMER_ID=abc
USPS_NEWAPI_CUSTOMER_SECRET=def
REDIS_HOST=redis
PORT=8080
DEBUG_ONLY=false
DEBUG_SERIAL=424242
WKHTMLTOPDF_PATH=wkhtmltopdf
